@if(isLoading){
  <div class="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
} @else {
  @if(Config.TYPE === 'LOCALS'){
    <div class="header">
      You are currently viewing a local deployment. <!--Please go to Shotly.at instead.-->
    </div>
  } @else if(Config.TYPE === 'DEVELOPMENT'){
    <div class="header">
      You are currently viewing a development deployment. <!--Please go to Shotly.at instead.-->
    </div>
  }
  <div class="app-wrapper" [class.logged-in]="isLoggedIn" [class.guest]="!isLoggedIn">

    @if(showNavigation){
      <app-navigation></app-navigation>
    }

    <main class="app-main" [class.with-nav]="showNavigation" [class.landing-main]="isLandingRoute">
      <router-outlet></router-outlet>
    </main>

    @if(showFooter){
      <app-footer></app-footer>
    }
  </div>
}
